/* ********* */
/* @SLIDER */
/* ********* */


.container{
    position: relative;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 500px;
  }
  
  .carrusel {
      width: 400%;
      display: flex;
      animation: slide 15s infinite;
  }
  .slider {
      width: 25%;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Legend */
  .slider__triangulo{
      border: 500px solid transparent;
      border-left: 800px solid rgba(52, 73, 94, 0.7);
      border-bottom: 0;
      position: absolute;
      bottom: 0;
  }
  
  /* Contents */
  .slider__content{
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      overflow: hidden;
  }
  .contentTexto{
      width: $content_ancho;
      height: $content_altura;
      position: relative;
      top: $content_position;
      animation: content-s 5s infinite;
  }
  .contentTexto__titulo{
      font-family: "SourceFont";
      font-size: $texto_tamano_h1;
      color: $color_texto;
      text-align: left;
      transform: translateX(30px);
      padding-bottom: 10px;
  }
  .contentTexto__Parrafo {
      font-family: "SourceFont";
      font-weight: normal;
      font-size: $texto_tamano_h2;
      font-style: italic;
      color: $color_texto;
      text-align: left;
      transform: translateX(30px);
  }
  
  /* Switch */
  .switch {
      width: $switch_ancho;
      height: $switch_altura;
      position: absolute;
      bottom: $switch_position_bot;
      z-index: 99;
      left: $switch_position_left;
  }
  .switch {
      display: flex;
  }
  .switch > a {
      width: $a_size;
      height: $a_size;
      border-radius: 50%;
      background: $color_fondo_a;
      margin-right: 5px;
      cursor: pointer;
  }
  
  .on {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: $color_fondo2;
      position: relative;
      animation: on 15s infinite;
  }
  
  /* Animation */
  /* imágenes */
  @keyframes slide {
      0%,
      100% {
          transform: translateX(0%);
      }
      31% {
          transform: translateX(0%);
      }
      35% {
          transform: translateX(-25%);
      }
      61% {
          transform: translateX(-25%);
      }
      65% {
          transform: translateX(-50%);
      }
      96% {
          transform: translateX(-50%);
      }
  }
  
  /* Texto */
  @keyframes content-s {
      0% {
          left: -420px;
      }
      10% {
          left: 20px;
      }
      15% {
          left: 0px;
      }
      30% {
          left: 0px;
      }
      40% {
          left: 0px;
      }
      50% {
          left: 0px;
      }
      60% {
          left: 0px;
      }
      70% {
          left: 0;
      }
      80% {
          left: -520px;
      }
      90% {
          left: -520px;
      }
      100% {
          left: -520px;
      }
  }
  
  /* bolita naranja */
  @keyframes on {
      0%,
      100% {
          transform: translateX(0);
      }
      31% {
          transform: translateX(0);
      }
      35% {
          transform: translateX(15px);
      }
      61% {
          transform: translateX(15px);
      }
      65% {
          transform: translateX(30px);
      }
      96% {
          transform: translateX(30px);
      }
    
  }
  